﻿<div ng-controller="ipAddressController">


    <div class="row">

      <div class="col-md-3">
        <div>
          <label for="cClass">Client name</label>
          <ui-select autofocus ng-model="model.selectedClient" required
              on-select="clientIdChanged($select.selected.profile.id)">
            <ui-select-match placeholder="Client name">{{$select.selected.profile.name}}</ui-select-match>
            <ui-select-choices repeat="client.profile.id as client in clients track by client.profile.id"
                refresh="getClients($select.search)"
                refresh-delay="0">
              <div ng-bind-html="client.profile.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
          <div ng-show="clientsLoading">
            loading...
          </div>
          <div ng-show="!clientsLoading && !clients.length">
            No clients avaliable
          </div>
          <div>
            <a class="btn btn-sm btn-primary" ng-href="/clients/new?redirect">New client</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div>
          <label for="locationId">Location name</label>
          <ui-select ng-model="model.selectedLocation" required
              on-select="onLocationSelect($select.selected.profile.id)">
            <ui-select-match placeholder="Location name">{{$select.selected.profile.name}}</ui-select-match>
            <ui-select-choices repeat="location.profile.id as location in locations track by location.profile.id"
                refresh="getLocations($select.search)"
                refresh-delay="0">
              <div ng-bind-html="location.profile.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div ng-show="locationsLoading">
          loading...
        </div>
        <div ng-show="!locationsLoading && !locations.length">
          No location available
        </div>
        <div ng-show="model.selectedClient">
          <a class="btn btn-sm btn-primary" ng-href="/clients/{{model.selectedClient}}/locations/new?redirect">New location</a>
        </div>
      </div>

      <div class="col-md-3">
        <div>
          <label for="locationId">Network</label>
          <ui-select ng-model="model.selectedNetwork" required
              on-select="onNetworkChanged($select.selected.profile.id)">
            <ui-select-match placeholder="Network name">{{$select.selected.nameCClass}}</ui-select-match>
            <ui-select-choices repeat="network.profile.id as network in networks track by network.profile.id"
                refresh="getNetworks($select.search)"
                refresh-delay="0">
              <div ng-bind-html="network.nameCClass | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div ng-show="networksLoading">
          loading...
        </div>
        <div ng-show="!networksLoading && !networks.length">
          No network available
        </div>
        <div ng-show="model.selectedLocation && model.selectedClient">
          <a class="btn btn-sm btn-primary" ng-href="/networks/new?clientid={{model.selectedClient}}&locationid={{model.selectedLocation}}">New network</a>
        </div>
      </div>

      <div ng-if="model.selectedNetwork" class="col-md-3">
        <button class="btn btn-info" ng-click="$ipTable.refreshTable()">Refresh</button>
        <a class="btn btn-success" target="_blank" ng-href="/IPTracker/export-to-csv/{{model.selectedNetwork}}">Export to CSV</a>
      </div>

    </div>

    <!-- network details -->
    <div ng-if="model.selectedNetwork" class="panel">
      <div class="panel-body row">
        <div class="col-md-8 clearfix well">
          <h5 class="text-danger"><strong>Summary of network</strong></h5>
          <div class="col-xs-4 h6">
            <p>Client: <strong>{{network.Client.name}}</strong></p>
            <p>Network range: <strong>{{network.rangeFrom + " - " + network.rangeTo}}</strong></p>
            <p>DHCP range: <strong>{{network.dhcpFrom + " - " + network.dhcpTo}}</strong></p>
            <p>Subnet: <strong>{{network.subnet}}</strong></p>
          </div>
          <div class="col-xs-3 h6">
            <p>Location: <strong>{{network.Location.name}}</strong></p>
          </div>
          <div class="col-xs-3 h6">
            <p>Network: <strong>{{network.name}}</strong></p>
            <p>Gateway: <strong>{{network.gateway}}</strong></p>
            <p>DNS 1: <strong>{{network.dns1}}</strong></p>
          </div>
          <div class="col-xs-2">
            <button ng-click="editNetwork()" class="btn btn-xs btn-primary">Edit network</button>
          </div>
        </div>
      </div>
    </div>

    <div ip-address-table 
        client-id="model.selectedClient"
        location-id="model.selectedLocation"
        network="network"></div>


</div>