<div ng-controller="loginController">
  <div class="alert alert-danger hidden error-messages">
    Username or password does not match
  </div>
  <form name="form" novalidate>
    <div class="form-group">
      <label for="username">Username / Email address</label>
      <input ng-model="user.username" type="text" class="form-control" name="username" placeholder="Email" required="">
    </div>
    <!--<div ng-show="form.$submitted || form.username.$touched">
      <span ng-show="form.username.$error.required">Username is required</span>
    </div>-->
    <div class="form-group">
      <label for="password">Password</label>
      <input ng-model="user.password" type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <button ng-click="login(user)" type="submit" class="btn btn-default">Submit</button>
  </form>
</div>