<div class="modal-header">
    <h3 class="modal-title">View / Edit IP Address</h3>
</div>
<div class="modal-body">
  <div class="clearfix h5 well">
    <div class="col-md-3">
      <p>Client:</p>
      <p>Location:</p>
      <p>Network:</p>
    </div>
    <div class="col-md-4">
      <p><strong>{{network.Client.name}}</strong></p>
      <p><strong>{{network.Location.name}}</strong></p>
      <p><strong>{{network.cClass}}</strong></p>
    </div>
  </div>

  <form name="form" class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-3">IP address</label>
      <div class="col-sm-7">{{IpAddress}}</div>
    </div>
    <div class="form-group">
      <label for="deviceTypeId" class="col-sm-3">Device type name</label>
      <div class="col-sm-7">
        <div ng-hide="deviceTypesLoading">
          <ui-select ng-model="model.deviceTypeId" 
              on-select="onChange(model)"
              required>
            <ui-select-match placeholder="Device type name">{{$select.selected.profile.name}}</ui-select-match>
            <ui-select-choices repeat="type.profile.id as type in deviceTypes track by type.profile.id"
                refresh="getDeviceTypes($select.search)"
                refresh-delay="0">
              <div ng-bind-html="type.profile.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div ng-show="deviceTypesLoading">
          loading...
        </div>
        <div ng-show="!deviceTypesLoading && !deviceTypes.length" class="alert alert-danger">
          No Network type available
        </div>
        <div>
          <a class="btn btn-sm btn-primary" ng-click="cancel()" ng-href="/device-types/new?redirect">New device type</a>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3">Information</label>
      <div class="col-sm-7">
        <textarea required ng-change="onChange(model)" ng-model="model.information" class="form-control"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3">Comment</label>
      <div class="col-sm-7">
        <textarea ng-change="onChange(model)" ng-model="model.comment" class="form-control"></textarea>
      </div>
    </div>
  </form>


</div>
<div class="modal-footer">
    <button ng-disabled="!form.$valid" class="btn btn-primary" ng-click="update(model)">Save</button>
    <button class="btn btn-danger" ng-click="deleteAssigned()">Delete assigned</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>