<table ng-if="clientId && locationId && ipAddresses.length" st-table="ipAddresses" class="table table-stripped table-hover table-condenced">
  <thead>
    <tr>
      <th st-sort-default="true" st-sort="hostId">IP address</th>
      <th st-sort="data.DeviceType.name">Device type</th>
      <th st-sort="data.information">Information</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="host in ipAddresses track by $index" ng-class="{ hidden: host.dhcpHidden, warning: host.isDHCP, danger: host.data.used }">
      <td>
        <strong ng-class="{ 'text-success': !host.data.used, 'text-danger': host.data.used  }">{{host.ipAddress}}</strong>
        <span ng-if="host.dhcpStart" class="text-warning">DHCP Start</span>
        <span ng-if="host.dhcpEnd" class="text-warning">DHCP End</span>
      </td>
      <td>{{host.data.DeviceType.name}}</td>
      <td>{{host.data.information}}</td>
      <td>
        <button ng-if="host.data.used" class="btn btn-xs btn-danger" ng-click="popup('editIpController', host.data.localAddress, host.data.id)">View</button>
        <button ng-if="!host.data.used && !host.isDHCP" class="btn btn-xs btn-success" ng-click="popup('assignIpController', host.hostId)">Assign</button>

        <div ng-if="host.isDHCP && host.dhcpStart">
          <button class="btn btn-sm btn-primary" ng-click="popup('assignIpController')">Assign Static</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>