<div ng-controller="networkFormController">
  <div class="form-errors">

  </div>
  <form name="form" novalidate>
    <div class="form-group">
      <label for="name">Network name</label>
      <input focus-if ng-model="network.name" type="text" class="form-control" name="name" placeholder="Network name" required>
    </div>
    <div class="form-group">
      <label for="cClass">Network C-Class</label>
      <input ng-model="network.cClass" type="text" class="form-control" name="cClass" placeholder="Network C-Class" required>
    </div>
    <!--<div ng-show="form.$submitted || form.username.$touched">
      <span ng-show="form.username.$error.required">Username is required</span>
    </div>-->

    <div class="form-group">
      <div ng-hide="networkTypeLoading">
        <label for="networkTypeId">Network type name</label>
        <ui-select ng-model="network.networkTypeId" required>
          <ui-select-match placeholder="Network type name">{{$select.selected.profile.name}}</ui-select-match>
          <ui-select-choices repeat="type.profile.id as type in networkTypes track by type.profile.id"
              refresh="getNetworkTypes($select.search)"
              refresh-delay="0">
            <div ng-bind-html="type.profile.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div ng-show="networkTypeLoading">
        loading...
      </div>
      <div ng-show="!networkTypeLoading && !networkTypes.length" class="alert alert-danger">
        No Network type available
      </div>
    </div>

    <div class="form-group">
      <div ng-hide="clientsLoading">
        <label for="cClass">Client name</label>
        <ui-select ng-model="network.clientId" required
            on-select="clientIdChanged($select.selected.profile.id)">
          <ui-select-match placeholder="Client name">{{$select.selected.profile.name}}</ui-select-match>
          <ui-select-choices repeat="client.profile.id as client in clients track by client.profile.id"
              refresh="getClients($select.search)"
              refresh-delay="0">
            <div ng-bind-html="client.profile.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
        <div ng-show="clientsLoading">
          loading...
        </div>
        <div ng-show="!clientsLoading && !clients.length" class="alert alert-danger">
          No clients available
        </div>
        <div>
          <a class="btn btn-sm btn-primary" ng-href="/clients/new?redirect">New client</a>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div ng-hide="locationsLoading">
        <label for="locationId">Location name</label>
        <ui-select ng-model="network.locationId" required>
          <ui-select-match placeholder="Location name">{{$select.selected.profile.name}}</ui-select-match>
          <ui-select-choices repeat="location.profile.id as location in locations track by location.profile.id"
              refresh="getLocations($select.search)"
              refresh-delay="0">
            <div ng-bind-html="location.profile.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div ng-show="locationsLoading">
        loading...
      </div>
      <div ng-show="!locationsLoading && !locations.length" class="alert alert-danger">
        No locations available
      </div>
      <div ng-show="network.clientId">
        <a class="btn btn-sm btn-primary" ng-href="/clients/{{network.clientId}}/locations/new?redirect">New location</a>
      </div>
    </div>

    <div class="form-group">
      <label for="rangeFrom">Range From</label>
      <input ng-model="network.rangeFrom" type="number" class="form-control" name="rangeFrom" placeholder="Range From" required>
    </div>
    <div class="form-group">
      <label for="rangeTo">Range To</label>
      <input ng-model="network.rangeTo" type="number" class="form-control" name="rangeTo" placeholder="Range To" required>
    </div>

    <div class="form-group">
      <label for="DHCPServer">DHCP Server</label>
      <input ng-model="network.DHCPServer" type="text" class="form-control" name="DHCPServer" placeholder="DHCP Server" required>
    </div>
    <div class="form-group">
      <label for="dhcpFrom">DHCP From</label>
      <input ng-model="network.dhcpFrom" type="number" class="form-control" name="dhcpFrom" placeholder="DHCP From" required>
    </div>
    <div class="form-group">
      <label for="dhcpTo">DHCP To</label>
      <input ng-model="network.dhcpTo" type="number" class="form-control" name="dhcpTo" placeholder="DHCP To" required>
    </div>

    <div class="form-group">
      <label for="subnet">Subnet</label>
      <input ng-model="network.subnet" type="text" class="form-control" name="subnet" placeholder="Subnet">
    </div>

    <div class="form-group">
      <label for="gateway">Gateway</label>
      <input ng-model="network.gateway" type="text" class="form-control" name="gateway" placeholder="Gateway">
    </div>

    <div class="form-group">
      <label for="comments">Comments</label>
      <input ng-model="network.comments" type="text" class="form-control" name="comments" placeholder="Comments">
    </div>

    <div class="form-group">
      <label for="dns1">DNS 1</label>
      <input ng-model="network.dns1" type="text" class="form-control" name="dns1" placeholder="DNS 1">
    </div>
    <div class="form-group">
      <label for="dns2">DNS 2</label>
      <input ng-model="network.dns2" type="text" class="form-control" name="dns2" placeholder="DNS 2">
    </div>
    <div class="form-group">
      <label for="dns3">DNS 3</label>
      <input ng-model="network.dns3" type="text" class="form-control" name="dns3" placeholder="DNS 3">
    </div>
    <div class="form-group">
      <label for="dns4">DNS 4</label>
      <input ng-model="network.dns4" type="text" class="form-control" name="dns4" placeholder="DNS 4">
    </div>

    <button ng-disabled="!form.$valid"  ng-click="addUpdate(network)" type="submit" class="btn btn-default">Submit</button>
  </form>
</div>