

<div ng-controller="networkListingController">
  <a class="btn btn-primary" href="/networks/new">New network</a>

  <table st-table="displayedNetworks" st-safe-src="networks" class="table table-stripped table-hover table-condenced">
    <thead>
      <tr>
        <th st-sort-default="true" st-sort="name">Network name</th>
        <th st-sort="cClass">C-Class</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="network in displayedNetworks">
        <td>
          {{network.name}}
        </td>
        <td>
          {{network.cClass}}
        </td>
        <td>
          <a class="btn btn-xs btn-default" href="/networks/{{network.profile.id}}">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>