<div class="modal-header">
    <h3 class="modal-title">Edit network</h3>
</div>
<div class="modal-body">
  <div class="form-errors">

  </div>
  <form name="form" novalidate>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">Network name</label>
          <input autofocus ng-model="network.name" type="text" class="form-control" name="name" placeholder="Network name" required>
        </div>
        <div class="form-group">
          <label for="cClass">Network C-Class</label>
          <input ng-model="network.cClass" type="text" class="form-control" name="cClass" placeholder="Network C-Class" required>
        </div>
        <div class="form-group">
          <label for="rangeFrom">Range from</label>
          <input ng-model="network.rangeFrom" type="number" class="form-control" name="rangeFrom" placeholder="Range from" required>
        </div>
        <div class="form-group">
          <label for="rangeTo">Range to</label>
          <input ng-model="network.rangeTo" type="number" class="form-control" name="rangeTo" placeholder="Range to" required>
        </div>
        <div class="form-group">
          <label for="DHCPServer">DHCP Server</label>
          <input ng-model="network.DHCPServer" type="text" class="form-control" name="DHCPServer" placeholder="DHCP Server" required>
        </div>
        <div class="form-group">
          <label for="dhcpFrom">DHCP from</label>
          <input ng-model="network.dhcpFrom" type="number" class="form-control" name="dhcpFrom" placeholder="DHCP from" required>
        </div>
        <div class="form-group">
          <label for="dhcpTo">DHCP to</label>
          <input ng-model="network.dhcpTo" type="number" class="form-control" name="dhcpTo" placeholder="DHCP to" required>
        </div>
        <div class="form-group">
          <div ng-hide="networkTypeLoading">
            <label for="networkTypeId">Network type name</label>
            <ui-select ng-model="network.networkTypeId" required>
              <ui-select-match placeholder="Network type name">{{$select.selected.profile.name}}</ui-select-match>
              <ui-select-choices repeat="type.profile.id as type in networkTypes track by type.profile.id"
                  refresh="getNetworkTypes($select.search)"
                  refresh-delay="0">
                <div ng-bind-html="type.profile.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          <div ng-show="networkTypeLoading">
            loading...
          </div>
          <div ng-show="!networkTypes.length" class="alert alert-danger">
            No Network type available
          </div>
          <div>
            <a class="btn btn-sm btn-primary" ng-click="closeModal()" ng-href="/network-types/new?redirect">New network type</a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="subnet">Subnet mask</label>
          <input ng-model="network.subnet" type="text" class="form-control" name="subnet" placeholder="Subnet mask">
        </div>
        <div class="form-group">
          <label for="gateway">Gateway</label>
          <input ng-model="network.gateway" type="text" class="form-control" name="gateway" placeholder="Gateway">
        </div>
        <div class="form-group">
          <label for="dns1">DNS 1</label>
          <input ng-model="network.dns1" type="text" class="form-control" name="dns1" placeholder="DNS 1">
        </div>
        <div class="form-group">
          <label for="dns2">DNS 2</label>
          <input ng-model="network.dns2" type="text" class="form-control" name="dns2" placeholder="DNS 2">
        </div>
        <div class="form-group">
        <label for="dns3">DNS 3</label>
        <input ng-model="network.dns3" type="text" class="form-control" name="dns3" placeholder="DNS 3">
      </div>
      <div class="form-group">
        <label for="dns4">DNS 4</label>
        <input ng-model="network.dns4" type="text" class="form-control" name="dns4" placeholder="DNS 4">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="comment">Comment</label>
        <input ng-model="network.comments" type="text" class="form-control" name="comment" placeholder="Comment">
      </div>
    </div>
  </div>

  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-disabled="!form.$valid" ng-click="update(network)">Save</button>
</div>