<div ng-controller="networkTypeFormController">
  <div class="form-errors">

  </div>
  <form name="form" novalidate>
    <div class="form-group">
      <label for="name">Network type name</label>
      <input focus-if ng-model="model.name" type="text" class="form-control" name="name" placeholder="Device type name" required="">
    </div>
    <button ng-disabled="!form.$valid" ng-click="addUpdate(model)" type="submit" class="btn btn-default">Submit</button>
  </form>
</div>