<div ng-controller="networkTypeListingController">
    <a class="btn btn-primary" ng-href="/network-types/new">New network type</a>

    <table st-table="displayedNetworkTypes" st-safe-src="networkTypes" class="table table-stripped table-hover table-condenced">
      <thead>
        <th st-sort-default="true" st-sort="profile.name">Network type name</th>
      </thead>
      <tr ng-repeat="type in displayedNetworkTypes">
          <td>
            {{type.profile.name}}
          </td>
          <td>
            <a class="btn btn-xs btn-default" href="/network-types/{{type.profile.id}}">Edit</a>
          </td>
      </tr>
    </table>
</div>