﻿@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="app">
<head ng-controller="headerController">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title ng-bind="siteTitle"></title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/plugins")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/underscore")
    @Scripts.Render("~/bundles/siteAngular")
    <script>
        // data from home-index controller
        app.run(['$rootScope', function($rootScope) {
            var data = @Html.Raw(ViewBag.siteData); 
            angular.extend($rootScope, data);
        }]);
    </script>
</head>
<body ng-cloak>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a ng-href="{{authenticated ? '/' : '/about'}}" class="navbar-brand">IPTrack</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{ active: isActiveRoute('/about') }"><a href="/about">About</a></li>
                    <li ng-if="authenticated && isInRole('admin')" ng-class="{ active: isActiveRoute('/users') }"><a href="/users">Users</a></li>
                    <li ng-if="authenticated" ng-class="{ active: isActiveRoute('/clients') }"><a href="/clients">Clients</a></li>
                    <li ng-if="authenticated" ng-class="{ active: isActiveRoute('/networks') }"><a href="/networks">Networks</a></li>
                    <li ng-if="authenticated" ng-class="{ active: isActiveRoute('/device-types') }"><a href="/device-types">Device Types</a></li>
                    <li ng-if="authenticated" ng-class="{ active: isActiveRoute('/network-types') }"><a href="/network-types">Network Types</a></li>

                    <li ng-class="{ active: isActiveRoute('/login') }" ng-cloak ng-show="!authenticated"><a href="/login">Login</a></li>
                    <li ng-cloak ng-show="authenticated"><a href="#" ng-click="logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div ng-view></div>
        <!--<site-footer></site-footer>-->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/pluginsScripts")
</body>
</html>
