<div ng-controller="clientFormController">
  <div class="form-errors">

  </div>
  <form name="form">
    <div class="form-group">
      <label for="name">Client name</label>
      <input focus-if ng-model="client.name" type="text" class="form-control" name="name" placeholder="Client name" required>
    </div>
    <!--<div ng-show="form.$submitted || form.username.$touched">
      <span ng-show="form.username.$error.required">Username is required</span>
    </div>-->
    <button ng-disabled="!form.$valid" ng-click="addUpdate(client)" type="submit" class="btn btn-default">Submit</button>
  </form>
</div>