

<div ng-controller="clientListingController">
    <a class="btn btn-primary" href="/clients/new">New client</a>

    <table st-table="displayedClients" st-safe-src="clients" class="table table-stripped table-hover table-condenced">
      <thead>
        <tr>
          <th st-sort-default="true" st-sort="profile.name">Client name</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="client in displayedClients">
            <td>
              {{client.profile.name}}
            </td>
            <td>
              <a class="btn btn-xs btn-default" href="/clients/{{client.profile.id}}">Edit</a>
              <a class="btn btn-xs btn-danger" href="#" ng-click="delete(client.profile.id)">Delete</a>
              <a class="btn btn-xs btn-warning" href="/clients/{{client.profile.id}}/locations">Locations</a>
            </td>
        </tr>
      </tbody>
    </table>
</div>