<div ng-controller="locationFormController">
  <form name="form" novalidate>
    <div class="form-group">
      <label for="name">Location name</label>
      <input focus-if ng-model="location.name" type="text" class="form-control" name="name" placeholder="Location name" required="">
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input ng-model="location.address" type="text" class="form-control" name="address" placeholder="Address" required="">
    </div>
    <div class="form-group">
      <label for="locationPh1">Location PH 1</label>
      <input ng-model="location.locationPh1" type="text" class="form-control" name="locationPh1" placeholder="Location PH 1">
    </div>
    <div class="form-group">
      <label for="locationPh2">Location PH 2</label>
      <input ng-model="location.locationPh2" type="text" class="form-control" name="locationPh2" placeholder="Location PH 2">
    </div>
    <div class="form-group">
      <label for="contactName">Contact name</label>
      <input ng-model="location.contactName" type="text" class="form-control" name="contactName" placeholder="Contact name" required="">
    </div>

    <button ng-disabled="!form.$valid" ng-click="addUpdate(location)" type="submit" class="btn btn-default">Submit</button>
  </form>
</div>