<div ng-controller="locationListingController">
  <a class="btn btn-sm btn-warning" ng-href="/clients/{{clientId}}">Back to client</a>
  <a class="btn btn-sm btn-primary" ng-href="/clients/{{clientId}}/locations/new">New location</a>
  <div class="panel">
    <div class="panel-body">
      <h3>Locations of {{client.name}}</h3>
      <table class="table table-stripped table-hover table-condenced">
        <thead>
          <th>Location name</th>
        </thead>
        <tr ng-repeat="location in locations track by $index">
          <td>
            {{location.profile.name}}
          </td>
          <td>
            <a class="btn btn-xs btn-default" href="/clients/{{clientId}}/locations/{{location.profile.id}}">Edit</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>