<div ng-controller="deviceTypeListingController">
    <a class="btn btn-primary" ng-href="/device-types/new">New device type</a>

    <table st-table="displayedDeviceTypes" st-safe-src="deviceTypes" class="table table-stripped table-hover table-condenced">
      <thead>
        <tr>
          <th st-sort-default="true" st-sort="profile.name">Device type name</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="type in displayedDeviceTypes">
          <td>
            {{type.profile.name}}
          </td>
          <td>
            <a class="btn btn-xs btn-default" href="/device-types/{{type.profile.id}}">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
</div>