<div ng-controller="userFormController">
  <div class="form-errors">

  </div>
  <form name="form" novalidate>
    <div class="form-group">
      <label for="username">Username</label>
      <input focus-if ng-model="model.username" type="text" class="form-control" name="username" placeholder="Username" required="">
    </div>
    <div class="form-group">
      <label for="roles">Role</label>
      <select ng-model="model.roles" type="text" class="form-control" name="roles"
        ng-options="role for role in roles" required>
      </select>
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input ng-model="model.email" type="text" class="form-control" name="email" placeholder="Email address">
    </div>

    <div ng-if="isInsert">
      <div class="form-group">
        <label for="password">Password</label>
        <input ng-model="model.password" type="password" class="form-control" name="password" placeholder="Password" required>
      </div>
      <div class="form-group">
        <label for="repeat_password">Repeat password</label>
        <input ng-model="model.repeat_password" type="password" class="form-control" name="repeat_password" placeholder="Repeat password" required>
      </div>
    </div>

    <button ng-disabled="!form.$valid" ng-click="addUpdate(model)" type="submit" class="btn btn-default">Submit</button>
  </form>
</div>