<div ng-controller="userListingController">
    <a class="btn btn-primary" ng-href="/users/new">New user</a>

    <table st-table="displayedUsers" st-safe-src="users" class="table table-stripped table-hover table-condenced">
      <thead>
        <tr>
          <th st-sort-default="true" st-sort="profile.username">Username</th>
          <th st-sort="profile.roles">Role</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="type in displayedUsers">
          <td>{{type.profile.username}}</td>
          <td>{{type.profile.roles | uppercase}}</td>
          <td>
            <a class="btn btn-xs btn-default" href="/users/{{type.profile.id}}">Edit</a>
            <a class="btn btn-xs btn-danger" ng-click="archive(type.profile.id)">Archive</a>
          </td>
        </tr>
      </tbody>
    </table>
</div>